.select-container{
    position: relative;
}
.select-container select{
    width: 100%;
    appearance: none;
    cursor: pointer;
    border: 2px solid #797979;
    outline: none;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-top: 1rem;
}

.select-container::after{
    content: '\25BC';
    font-size: 0.7rem;
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    pointer-events: none;

}

